@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f6f7f8;
    
}

/*.BGhorario {
    background-color: green; 
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
}*/ 